body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

#map {
	height: 100%;
	width: 100%;
}

.map-text-labels {
	font-size: 2rem;
	font-weight: 700;
	color: white;
}

.map-legend {
	font-family: monospace;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 1rem;
	border-radius: 3px;
}

#map-legend-title {
	font-size: 1rem;
	margin-bottom: 1rem;
}


.map-legend-entry {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0.5rem; 
}

.map-legend-color {
	width: 3rem;
	height: 1rem;
	border: 2px solid black;
	border-radius: 2px;
}

.map-legend-label {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	width: 2rem;
	text-align: center;
}

.map-zipcode-label {
	background: none;
	border: none;
	box-shadow: none;
	font-size: 0.6rem;
}

.leaflet-container {
	font-family: monospace;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	font-family: inherit;
}

.leaflet-tooltip-pane {
	z-index: 400;
}